/* General settings */
html,body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    overscroll-behavior-y: none;
}

h1 {
    margin: 0;
    padding-bottom: 5px;
    font-family:'Montserrat', sans-serif;
}

h2 {
    margin: 0;
    font-family:'Montserrat', sans-serif !important;
} 

h3 {
    margin: 0;
    color:rgb(95, 94, 94) !important;
}

h4 {
    margin: 0;
    font-family:'Montserrat', sans-serif !important;
    color:rgb(95, 94, 94) !important;
}

p {
    font-size: 12pt;
    line-height: 2.2rem;
    font-family:'Montserrat', sans-serif;
    margin: 0;
}

li {
    font-family:'Montserrat', sans-serif;
}

a {  
    color:black!important;
}

a:hover {
    color:#A7DBD8!important;
}
a:link {
    text-decoration: none !important;
}

.btn{
    height:100%;
}

/*header and footer*/
.navbar-brand {
    padding: 2em;
    background:transparent !important;
}

a.navbar-brand{
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
} 

.navbar-brand:hover{
    color: #A7DBD8!important;
}

.contact {
    background: rgba(252, 249, 249, 0.945) !important;
    text-align: center;
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    font-family:'Montserrat', sans-serif;
}

.connect {
    padding-top: 0.5rem;
    color: black;
}

/*home*/
.poster {
    width: 100%;
    height:85%;
    max-width: 100%;
    background: rgba(252, 249, 249, 0.945);
    z-index:1;
}
.myprofile:hover {
    color: #A7DBD8!important;
}
.poster-text {
    font-family:'Montserrat', sans-serif;
    padding:20%;
    text-align: left; 
    letter-spacing: 2px;
    font-size: 60px;
}
.goop{
    position: absolute;
    width: 0;
    height: 0;
    left: 50px;
    top: 110px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid rgb(245, 127, 146);
}

.goop.two{
    top: 160px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid#A7DBD8;
}

/* projects */
.listing {
    background: rgba(252, 249, 249, 0.945);
}

.projectlist {
    padding-bottom: 30px;
    height: 300px;
}

.listed {
    padding-top:100px;
}
.listed:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
}

.bellybins {
    background:rgba(245, 189, 198,0.945);
    border-radius:5px;
    width:100%;
}

.designleap {
    background:rgba(167, 219, 216, 0.945);
    border-radius:5px;
    width:100%;
}

.rento {
    background:rgba(177, 155, 201, 0.945);
    border-radius:5px;
    width:100%;
}

.CSSstickers {
    background: rgba(250, 244, 174, 0.945);
    border-radius:5px;
    width:100%;
}

.nochange:hover {
    color: black !important;
}

/*about me*/
.description {
    padding-top:100px;
    background: rgba(252, 249, 249, 0.945);
}

.mypicture {
    border-radius: 20px;
}

/* Big Belly Redesign */

.topcolor {
    background-image: linear-gradient(rgba(245, 189, 198,0.945), rgba(252, 249, 249, 0.945));
}

.bodycolor {
    background: rgba(252, 249, 249, 0.945);
}
.title {
padding-bottom: 80px;
}
.HMW{
    padding-left:110px;
}

.darker {
    background: rgba(241, 240, 240, 0.719);
    padding-left: 150px;
    padding-top:100px;
    padding-bottom:100px;
}

.fullredesign {
    padding-left: 50px;
}

.finaldesign {
    padding-left: 40px;
}

.seemore {
    width:30%;
    display:flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-left: 550px;
}
.moretext{
    padding-top:10px;
}

/* design leap */
.toptwo {
    background-image: linear-gradient(rgba(167, 219, 216, 0.945), rgba(252, 249, 249, 0.945));
}
/* Huge Monitor*/
@media (min-width: 1524px){
    .h1,h1{
        padding-top: 330px;
        font-size: 50px;
    }
}

/* Mobile Portrait*/
@media (max-height: 480px) {
    .h1,h1{
        font-size: 30px;
    }
}

@media (max-width: 425px){
    .h1,h1{
        font-size: 30px;
    }
}

/*
h5.card-title{
    font-size: 1.5rem !important;
    font-family:'Montserrat', sans-serif;
}

p.card-text{
    line-height: 1.75rem !important;
    font-family:'Montserrat', sans-serif;
}

.a {
    grid-column: 1/4;
    grid-row: 1;
   
}

.b {
    grid-column: 4;
    grid-row: 1;
}
.c {
    grid-column: 1/5;
    grid-row: 2/4;

}
.container{
    padding-top: 100px;
    padding-bottom: 70px;
    position: center;
}
.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius:0;
    margin-bottom: 4rem!important;
   
}

.card-body{
   font-family:'Montserrat', sans-serif;
    padding: 0.5rem;
    color:white;
   
}
.cardSet1{
    opacity: 0.875;
    background-color:  #b19bc9!important;
}

.cardSet2{
    opacity: 0.875;
    background-color: #A7DBD8!important;

}
.cardSet3{
    opacity: 0.875;
    background-color:rgb(245, 127, 146)!important;
}

h5.card-title{
    font-size: 1.2rem;
}

p.card-text{
    padding-bottom: 0.8rem;
    line-height:1.2rem;
}

.aboutpage {
    padding-top: 4rem;
    background:rgba(252, 249, 249, 0.945);
}
.aboutpage h2{
    font-family:'Montserrat', sans-serif;
    color: darkslategray;
    padding-left: 4rem;
}
.grid{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 2em;
    padding: 4em;
    padding-top: 6em;
    padding-bottom: 4em;
    background:rgba(252, 249, 249, 0.945);
    
}

.grid>div{
    opacity: 0.875;
    background-color: rgb(248, 161, 176);

}

.exp{
 text-decoration:  rgb(245, 189, 198) underline;
}

.box{
    font-family:'Montserrat', sans-serif;
    border-radius: 30px;
    padding: 4em;
}


.skill {
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(233, 145, 160, 0.849);
    border-radius: 50px;
    float: left;
    margin: 20px 100px;
    margin-bottom: 30px;
    margin-right: 90px;
    padding: 4px 16px;
}
*/
