/* General settings */
html,body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    overscroll-behavior-y: none;
}

h1 {
    margin: 0;
    padding-bottom: 5px;
    font-family:'Montserrat', sans-serif;
}

h2 {
    margin: 0;
    font-family:'Montserrat', sans-serif !important;
} 

h3 {
    margin: 0;
    color:rgb(95, 94, 94) !important;
}

h4 {
    margin: 0;
    font-family:'Montserrat', sans-serif !important;
    color:rgb(95, 94, 94) !important;
}

p {
    font-size: 12pt;
    line-height: 2.2rem;
    font-family:'Montserrat', sans-serif;
    margin: 0;
}

li {
    font-family:'Montserrat', sans-serif;
}

a {  
    color:black!important;
}

a:hover {
    color:#A7DBD8!important;
}
a:link {
    text-decoration: none !important;
}

.btn{
    height:100%;
    white-space: normal;
}

/*header and footer*/
.navbar-brand {
    padding: 2%;
    background:transparent !important;
}

a.navbar-brand{
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 2%;
} 

.navbar-brand:hover{
    color: #A7DBD8!important;
}

.contact {
    background: rgba(252, 249, 249, 0.945) !important;
    text-align: center;
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    font-family:'Montserrat', sans-serif;
}

.connect {
    padding-top: 0.5rem;
    color: black;
}

/*home*/
.poster {
    width: 100%;
    height:85%;
    max-width: 100%;
    background: rgba(252, 249, 249, 0.945);
    z-index:1;
}
.myprofile:hover {
    color: #A7DBD8!important;
}
.poster-text {
    font-family:'Montserrat', sans-serif;
    padding:20%;
    text-align: left; 
    letter-spacing: 2px;
    font-size: 60px;
}
.triangles{
    width: auto;
    position:absolute;
    height: auto;
    left: 5%;
    top: 15%!important;
    margin:0;
}


/*
.goop{
    position: absolute;
    width: 0;
    height: 0;
    left: 50px;
    top: 110px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid rgb(245, 127, 146);
}

.goop.two{
    top: 160px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid#A7DBD8;
}
*/

/* projects */
.listing {
    background: rgba(252, 249, 249, 0.945);
}

.projectlist {
    padding-bottom: 30px;
    height: 300px;
}

.listed {
    padding-top:100px;
}
.listed:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
}

.bellybins {
    background:rgba(245, 189, 198,0.945);
    border-radius:5px;
    width:100%;
}

.designleap {
    background:rgba(167, 219, 216, 0.945);
    border-radius:5px;
    width:100%;
}

.cogs120{
    background: rgba(250, 244, 174, 0.945);
    border-radius:5px;
    width:100%;
}

.cogs108{
    background:rgba(177, 155, 201, 0.945);
    border-radius:5px;
    width:100%;
}

.rento {
    background:rgba(177, 155, 201, 0.945);
    border-radius:5px;
    width:100%;
}

.CSSstickers {
    background: rgba(250, 244, 174, 0.945);
    border-radius:5px;
    width:100%;
}

.nochange:hover {
    color: black !important;
}

/*about me*/
.description {
    padding-top:100px;
    background: rgba(252, 249, 249, 0.945);
}

.mypicture {
    border-radius: 20px;
}

/* Big Belly Redesign */

.topcolor {
    background-image: linear-gradient(rgba(245, 189, 198,0.945), rgba(252, 249, 249, 0.945));
}

.bodycolor {
    background: rgba(252, 249, 249, 0.945);
}
.title {
padding-bottom: 80px;
}
.HMW{
    padding-left:110px;
}

.darker {
    background: rgba(241, 240, 240, 0.719);
    padding-left: 150px;
    padding-top:100px;
    padding-bottom:100px;
}

.fullredesign {
    padding-left: 50px;
}

.finaldesign {
    padding-left: 40px;
}

.seemore {
    width:30%;
    display:flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-left: 550px;
}
.seemoretwo {
    width:30%;
    display:flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-left: 720px;
}
.moretext{
    padding-top:10px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  /* Clear floats after image containers */
  .row_back::after {
    content: "";
    clear: both;
    display: table;
  }

  .row_back{
    padding-bottom:5em;
}
  .art{
      border-radius:5px;
  }
/* design leap */
.toptwo {
    background-image: linear-gradient(rgba(167, 219, 216, 0.945), rgba(252, 249, 249, 0.945));
}
/* Huge Monitor*/
@media (min-width: 1524px){
    .h1,h1{
        padding-top: 330px;
        font-size: 50px;
    }
}

/* Mobile Portrait*/
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .triangles{
        position:auto;
    }
    html{
        font-size:14px;
    }
  }